/* ****************** Body, head etc ****************** */
/* body {
	margin: 0;
	padding: 0;
	background-color: rgb(2, 255, 255);
} */
.upper {
	z-index: 100;
}

header {
	/* z-index: 100; */
	background-color: #00aeea;
	color: black;
	text-align: center;
	height: 60px;
	padding-top: 5px;
	display: block;
	margin-top: 0px;
	margin-bottom: 60px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	font-size: 100px;
}

p {
	/* z-index: 100; */
	font-size: 14pt;
	font-weight: bold;
	font-family: Sans;
	text-align: center;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a {
	color: #00aeea;
	text-decoration: none;
}
a:hover {
	color: #00aeea;
}
a:visited {
	color: #00aeea;
}

/* ****************** Table style ****************** */
#tab-tic-tac-toe {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 4em;
	font-family: Sans;
	color: #444;
	background: #f8f8f8;
	width: 550px;
	height: 450px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #cecece;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc;
}

/*Column style*/
#tab-tic-tac-toe td {
	border-collapse: collapse;
	border-left: 5px solid #ccc;
	border-bottom: 5px solid #ccc;
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
}

/*Cells*/
#tab-tic-tac-toe td {
	cursor: pointer;
	height: 95px;
	width: 95px;
}

#tab-tic-tac-toe td:hover {
	background: #ececec;
}

/* ****************** Restart Button ****************** */
#bnt-restart {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	background: #00aeea;
	font-size: 1.5em;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#bnt-restart:hover {
	background: #1dc5ff;
}

#bnt-restart:active {
	background: #0787b3;
}

#bnt-restart:disabled {
	color: #444;
	background: #cecece;
}
